.container-fluid {
  background-image: url(../background.jpeg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-form {
  position: fixed;
  color: #404040;
  min-width: 30%;
}
